@media (max-width: 900px) {

  header {
    background-color: black;
    width: 100%;
    position: fixed;
    bottom: 0;
    top: 0;
  }
.game-text-wrapper {
  display: table;
    height: 100%;
    padding: 100px 20px;
    text-align: center;
    width: 100%;
}
.game-text {
  font-family: monospace;
			color:white;
			font-size:40px;
background-color: black;
      display: table-cell;
vertical-align: middle;
}
#magic {  font-family: monospace; }

}
